.mainContainer {
	margin: 400 800px;
	height: 100vh;
	display: flex;
	flex-direction: column;
  }

  .bottomHalfContainer {
	display: flex;
	flex: 1;
  }
  
  .leftHalfComponent {
	flex: 0.4;
	background-color: #6495ed; /* Adjust as needed */
  }
  
  .rightHalfComponent {
	flex: 1;
	background-color: #32cd32; /* Adjust as needed */
  }
  
  .topThirdComponent {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px; /* Add some padding */
  background-color: #ffa500;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.userImage {
  width: 350px; /* Adjust as needed */
  height: 350px; /* Adjust as needed */
  border-radius: 50%;
  margin-right: 10px; /* Add margin to separate image and text */
}

.userName {
  font-weight: bold;
  font-size: 70px; /* Adjust as needed */
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.roundButton {
  border-radius: 10%;
  margin-left: 10px; /* Add margin between buttons */
}

.myprofilelink {
  background-color: white; /* Set the background color to white */
  display: flex;
  width: 400px;
  height: 400px;
}